<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
        <!-- Required meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
<title>Flickr REST Application</title>
</head>
<body>
	<div align="center">
        <br>
        <h1>Flick Rest Application</h1>
        <br>
        <table class="table">
            <thead class="thead-dark">
	            <tr>
	 				<th scope="col"></th>
	                <th scope="col"></th>
	                <th scope="col"></th>
	                <th scope="col">
	                	<form th:action="@{__${T(com.app.flickr.restful.util.AttributeNames).SEARCH}__}"
	                	      action="search"
	                	      method="post">
	                		<label>Search</label>
	                		<input id="search" type="text" name="search"/>
	                		<input type="submit" value="Go"/>
	                	</form>
					</th>
	            </tr>
            </thead>
          	<tbody>
							
				<span th:each="page: ${flickrRestfulObjectPage.content}">
					<span th:each="items, iterator : ${page.items}">	
							
						 <div th:if="${(iterator.index+1) % 4 == 0}">
						 	<td><img th:src="@{${items.media.m}}" style="width:284px;height:228px"/></td></tr>								 	
						 </div>
						 <div th:if="${(iterator.index+1) % 4 != 0}">
						 	<td><img th:src="@{${items.media.m}}" style="width:284px;height:228px"/></td>
						 </div>	
						 					
					</span>
				</span>										

           	</tbody>
        </table>
        <br>
        
		<div th:if="${flickrRestfulObjectPage.totalPages > 0}" class="pagination" th:each="pageNumber : ${pageNumbers}">
		    <a th:href="@{/photos(size=${flickrRestfulObjectPage.size}, page=${pageNumber})}"
		       th:text=${pageNumber}
		       th:class="${pageNumber==flickrRestfulObjectPage.number + 1} ? active"></a>
		</div>        

        <form action="flickrPhotos" method="post">
            <button type="submit" class="btn btn-secondary btn-lg">Get More Flickr</button>
        </form>

        <br><br>
        <footer>
            <p><b>Data Powered By Flickr API</b></p>
        </footer>

    </div>	
</body>
</html>