<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
        <!-- Required meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
<title>Flickr REST Application</title>
</head>
<body>
	<div align="center">
        <br>
        <h1>Flick Rest Application</h1>
        <br>
        <table class="table">
            <thead class="thead-dark">
	            <tr>
	                <th scope="col">
	                	<form th:action="@{/__${T(com.app.flickr.restful.util.AttributeNames).SEARCH}__}"
	                	      action="search"
	                	      method="post">
	                		<label>Search</label>
	                		<input type="text" th:name="title"/>
	                		<input type="submit" value="Go"/>
	                	</form>
					</th>
	 				<th scope="col" ></th>
	                <th scope="col"></th>
	                <th scope="col"></th>					
	            </tr>
            </thead>
          	<tbody>



				<div th:if="${not #lists.isEmpty(flickrRestfulObjectItems)}">
					<span th:each="items, iterator : ${flickrRestfulObjectItems}">	
							
						 <div th:if="${(iterator.index+1) % 4 == 0}">
						 	<td><img th:src="@{${items.media.m}}" style="width:284px;height:228px"/></td></tr>								 	
						 </div>
						 <div th:if="${(iterator.index+1) % 4 != 0}">
						 	<td><img th:src="@{${items.media.m}}" style="width:284px;height:228px"/></td>
						 </div>	
						 					
					</span>
				</div>
				<div th:if="${#lists.isEmpty(flickrRestfulObjectItems)}">
					<div align="center">
						<td th:text="${messageError}" align="center" colspan="4" style="border-top-style: outset;"/>
					</div>				
				</div>

           	</tbody>
        </table>
        <br>
        
		
      	<div th:if="${flickrRestfulObjectPage.totalPages > 0}" >
			<td th:text="${page}" style="border-top-style: outset;"/>

			<th:block th:each="pageNumber : ${pageNumbers}">
			     <a th:href="@{/photos(size=${flickrRestfulObjectPage.size}, page=${pageNumber})}"
					th:text=${pageNumber}
					th:class="${pageNumber==flickrRestfulObjectPage.number + 1} ? active"></a>
			</th:block>
		</div> 
		<br><br>

        <!-- <form action="flickrPhotos" method="post">
            <button type="submit" class="btn btn-secondary btn-lg">Get More Flickr</button>
        </form> -->
        <br>
        <form action="photos" method="post">
            <button type="submit" class="btn btn-danger">Delete All Data</button>
        </form>

        <br><br>
        <footer>         
            <p><b>Data Powered By Flickr API</b></p>
        </footer>

    </div>	
</body>
</html>